/*--- reset code ---*/
body{
	padding:0;
	margin:0;
	background:#FFF;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
button{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*--- end reset code ---*/
body {
	font-family: 'Raleway', sans-serif;
}
/*-- Navbar --*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:transparent;
}
.navbar-default .navbar-brand {
    color:#FFFEFE;
    font-size: 25px;
	font-weight:300;
}
.navbar {
	margin-bottom:0px;
	background: url(../fruit-farm-images/rain.jpg);
}
.navbar-default .navbar-nav>li>a {
    color: #FFFEFE;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color:#e7e7e7;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}	
#fieldset-1{
	border: 0;
	height: 50px;
	display: block;
	
}
.search-text{
	margin-top:10px;
}
.search-btn{
	margin-top:10px;
}
/*-- /Navbar --*/
/*-- banner 横幅 --*/
.banner {
	margin:0;
	padding:0;
	background:url('../fruit-farm-images/flog.png');
}
.carousel-control.left{
	background-image: none;
	background-repeat: repeat-x;
	filter: 
	progid:DXImageTransform.Microsoft.gradient(
		startColorstr="#80000000",endColorstr="#00000000",GradientType=1);
}
.carousel-control.right{
	left:auto;
	right:0;
	background-image: none;
	background-repeat: repeat-x;
	filter: 
	progid:DXImageTransform.Microsoft.gradient(
		startColorstr="#00000000",endColorstr="#80000000",GradientType=1);
}
/*-- /Banner --*/
/*-- About --*/
section#fruit-species {
	background:url(../fruit-farm-images/leaf.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:100% 100%;
}
section#fruit-species h3.text-center {
	font-family: 'Poiret One', cursive;
	font-size:3em;
	padding-bottom: 50px;
	color:#4682B4;
}
.top-content {
	padding: 2em 0;
}

/* General button style (reset) */
.content-top{
	margin-bottom: 20px;
}
.content-top img{
	border-radius: 20%;
}
.content-top .p-content{
	width: 200px;
	height: 80px;
	margin-top: 5px;
}
/*fruit model*/
.modal-header{
	background-color:#20B2AA;
}
.modal-body{
	background-color: 	#20B2AA;
}
.modal-footer{
	background-color: 	#20B2AA;
}
.btn {
	background: none;
	display: inline-block;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius:15px !important;
	text-decoration:none;
	color:#000;
	font-size: 1.2em;
	border: 3px solid #ff9900;
	padding: 0.7em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Button 1c */
.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ff9900;
}
.btn-1c:hover,
.btn-1c:active {
	color: #fff;
}
.btn-1c:hover:after,
.btn-1c:active:after {
	width: 100%;
}
/*----*/
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
	max-width: 100%;
	width: auto;
	height: auto;
	display:block;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	display:none;
}
/*----*/
.content-bottom-top{
	background:url(../fruit-farm-images/ba1.jpg) no-repeat 0px 0px;
	width:100%;
	min-height: 500px;
	display: block;
	background-size: cover;
	text-align: center;
	padding: 6em 0;
}
span.corn{
	width: 75px;
	height: 75px;
	background: #ff9900 url(../fruit-farm-images/corn.png)no-repeat 2px 2px;
	display: block;
	border-radius:100px;
	margin:0 auto;
}
span.corn-in{
	background: #ff9900 url(../fruit-farm-images/co1.png)no-repeat 8px 6px;
}
.content-bottom h3{
	color:#fff;
	font-size:4em;
	text-transform: uppercase;
	letter-spacing: 12px;
	padding: 3% 0 4%;
}
.content-bottom p{
	color: #fff;
	font-size: 1.3em;
	line-height: 2em;
	width: 85%;
	margin: 0em auto;
	font-weight: 200;
	letter-spacing: 3px;
}
/*-- /about --*/
/*-- image-hover-style --*/
.grid {
	padding:0;
	margin:0;
    list-style: none;
    text-align: center;
}
.grid li {
	display: inline-block;
	width: 460px;
	margin: 0;
	padding:0;
	text-align: left;
	position: relative;
}
.grid figure {
	margin: 0;
	position: relative;
}
.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: rgba(44, 78, 44, 0.21);
    color:#4D8A00;
}
.grid figcaption h3 {
	font-family: 'Poiret One', cursive;
	margin: 0;
	padding: 0;
	font-size:2em;
	color: #fff;
}
.grid figcaption span:before {
	content: 'by ';
}
/* Caption Style 5 */
.cs-style figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .cs-style figure:hover img,
.cs-style figure.cs-hover img {
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
}
.cs-style figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}
.no-touch .cs-style figure:hover figcaption,
.cs-style figure.cs-hover figcaption {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
/*-- /image-hover-style --*/
/*.content-section-a {
    padding: 50px 0;
    background:url(../fruit-farm-images/leaf.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:100% 100%;
}*/
.content-section-b {
    padding: 50px 0;
	background:url(../fruit-farm-images/rain.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:100% 100%;
} 
.content-section-b .grid figcaption {
	color:#172900;
}
.content-section-b .grid figcaption a {
	background: #345603;
}
h3.section-heading {
    font-family: 'Poiret One', cursive;
	font-size:2.5em;
	color:rgb(113, 142, 4);
}
p.lead {
	color:rgb(113, 142, 4);
	font-size: 19px;
    line-height: 1.7em;
}
.content-section-b h3.section-heading {
	color:#fff;
}
.content-section-b p.lead {
	color:#fff;
}
.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.content-section-b .section-heading-spacer {
	border-top: 1px solid #fff;
}
/*-- /after-about --*/

/*-- portfolio --*/
section#portfolio {
	background:url(../fruit-farm-images/sky.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:100% 100%;
}
section#portfolio h3.text-center {
	font-family: 'Poiret One', cursive;
	font-size:3em;
	padding-bottom: 50px;
	color:#C3DFFB;
}
.product-section {
    padding: 5em 0;
}
.product-section h3,.news-section h3,.testimonials-section h3,.history-section h3,.team h3,.overview h3,.main-services h3{
	font-size: 3.5em;
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
	color: #17c2a4;
	text-transform: capitalize;
}
.product-left {
    float: left;
    width: 50%;
	overflow:hidden;
}
.product-right {
    float: right;
    width: 50%;
    background: #17c2a4;
    padding: 3em 2em 2.4em;
	transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
 -o-transition:0.5s all;
 -ms-transition:0.5s all;
}
.product1-left {
    float: left;
    width: 50%;
    background: #17c2a4;
    padding: 3em 2em 2.4em;
	transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
 -o-transition:0.5s all;
 -ms-transition:0.5s all;
}
.product1-right {
    float: right;
    width: 50%;
	overflow:hidden;
}
.product-grids {
    margin-top: 3em;
}
.product-section h4 {
    font-size: 1.6em;
    color: #fff;
}
.product-grid:hover div.product-right {
    background: #313131;
}
.product-grid1:hover div.product1-left {
    background: #313131;
}
.product-section p {
    margin-top: 1em;
    font-size: 1em;
    color: #eee;
    line-height: 2em;
}
.product-section a i {
    font-size: 1.5em;
    color: #fff;
    float: right;
	margin-top: 1.1em;
}
.product-left:hover img,.product1-right:hover img,.about-img:hover img{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
.product-left img,.product1-right img,.about-img img {
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}
/*-- /Portfolio --*/

/*-- Contact-us --*/
section.contact-us {
	background:url(../fruit-farm-images/grass.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:100% 100%;
}
section.contact-us h3.text-center {
	font-family: 'Poiret One', cursive;
	font-size:3em;
	padding-bottom: 50px;
	color:#fff;
}
section.contact-us h4 {
	font-family: 'Poiret One', cursive;
	font-size:20px;
	padding:20px 0;
	color:#fff;
}
section.contact-us p {
	font-size:17px;
	padding:10px 0;
	color:#fff;
}
section.contact-us a {
	color:#fff;
	text-decoration:none;
}
section.contact-us .col-md-8.slideanim.slide iframe {
    height:400px;
    width: 100%;
    margin-bottom: 2%;
}
/*-- /Contact-us --*/
/*-- Contact-form --*/
section.contact-form {
	background:url(../fruit-farm-images/green.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:100% 100%;
}
section.contact-form h3.text-center {
	font-family: 'Poiret One', cursive;
	font-size:3em;
	padding-bottom:35px;
	color:#fff;
}
section.contact-form p.text-center { 
	font-size:17px;
	padding:0 0 40px;
	color:#fff;
}
section.contact-form label{
	font-size:20px;
	font-weight:400;
	padding-bottom:10px;
	color:#fff;
}
.form-control { 
	background-color: rgba(255, 255, 255, 0.18);
	border: 1px solid transparent;
    border-radius: 2px;
	height: 50px;
    padding: 16px 12px;
    font-size: 19px;
}
/*-- /Contact-form --*/
/*-- Footer --*/
footer {
    color: #fff;
}
footer h4 {
	font-family: 'Poiret One', cursive;
	font-size:25px;
	padding-bottom:35px;
}
footer a {
	color:#fff;
	text-decoration:none;
}
footer a:hover {
	text-decoration:none;
	color:red;
}
footer a li{
	color:#6B8E23;
	font-family:'PMingLiU';
}
footer a li:hover{
	font-size: 20px;
}
footer .footer-above {
    padding-top: 50px;
    background-color:#475025;
}
footer .footer-col {
    margin-bottom: 50px;
}
footer .footer-col img{
	border-radius: 50%;
}
footer .footer-below {
    padding: 25px 0;
    background-color:rgb(53, 58, 34);
}
/*-- footer --*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*-- Responsive Starts Here --*/
@media(max-width:1080px){
	#content {
    height:600px;
}
h3.section-heading {
	color:#283300;	
}
p.lead {
    color:#283300;
}
.portfolio-modal .close-modal {
    top: 2px;
    right: 40px;
    width: 40px;
}
}

@media(max-width:1050px){
section.our-services a.btn.btn-lg.btn-outline {
    margin-bottom: 90px;
}
section.our-services {
	padding-bottom:60px;
}
section.our-services p {
    padding: 10px 0 15px;
}
.portfolio-modal .modal-content {
    padding: 70px 0 35px;
}
.ch-item.ch-img-4.slideanim.slide {
    margin-top: 25px;
}
}

@media(max-width:1024px){ 
	.view, .view .mask, .view .content { 
	height:200px;
	width:200px;
}
.view h5 {
	font-size: 15px;
    padding: 8px 5px 5px;
	margin-top:25px;
}
.view p {
    font-size: 13px;
	padding: 10px 20px 10px;
}
.view a.info {
    font-size: 14px;
	padding: 5px 14px;
}
}

@media (max-width:991px){
h3.section-heading {
    font-size: 28px;
}
p.lead {
	font-size: 17px;
    line-height: 30px;
}
.grid li { 
	width:360px;
}
.grid figcaption h3 {
	text-align:center;
	margin-top:-13px;
	font-size:20px;
}
.grid figcaption p {
	text-align:center;
}
.cs-style figure a {
	bottom: 11px;
    right: 125px;
}
.content-section-b h3.section-heading , .content-section-b p.lead {
    color: #DBF9C8;
}
.blog-content {
	margin:0 0 10% 35%;
}
.view p {
	padding-bottom:5px;
}
section.our-blog a h4 { 
	height: 65px;
}
section.our-blog p.p2 {
	padding-bottom:25px;
}
}

@media (max-width: 800px) {
#content {
    height: 500px;
}
section.about-us p {
    font-size: 17px;
}
p.lead {
    font-size: 16px;
}
.grid li {
    width: 340px;
}
}

@media (max-width:736px){
#content {
    height: 400px;
}
#portfolio .portfolio-item .portfolio-link {
	max-width: 500px;
}
.navbar-nav {
    text-align: center;
    background-color:rgba(0, 80, 1, 0.74);
}
}

@media (max-width:667px){
#content {
    height: 350px;
}
}

@media (max-width: 600px){
#content {
    height: 375px;
}
.blog-content {
    margin: 0 0 10% 40%;
}
#content #slider .navigation ul li {
	margin-right:15px;
}
}

@media (max-width: 568px){
#content {
    height: 280px;
}
#portfolio .portfolio-item .portfolio-link {
    max-width: 450px;
}
}

@media (max-width: 480px){
#content #slider .navigation ul li {
	margin:0 2px 0 11px;
}
#portfolio .portfolio-item .portfolio-link {
    max-width: 390px;
}
.view, .view .mask, .view .content {
    height: 190px;
    width: 190px;
}
.blog-content {
    margin: 0 0px 30px 206px;
}
section.our-blog a h4 {
	padding:14px 0;
}
.view h5 {
margin-top: 12px;
}
}

@media (max-width: 414px){
#content #slider .navigation ul {
    margin: 0px auto 30px;
}
#content #slider .navigation ul li {
    margin: 0 0px 0 38px;
}
#portfolio .portfolio-item .portfolio-link {
    max-width: 350px;
}
section.our-services a.btn.btn-lg.btn-outline {
    margin-bottom: 115px;
}
section.our-blog p.p1 {
    font-size: 14px;
}
section.our-blog a h4 {
	padding:10px 0;
	font-size:19px;
}
section.our-blog p.p2 {
    font-size: 15px;
}
}

@media (max-width: 384px){
#content #slider .navigation ul {
    margin: 0px auto 20px;
}
#content #slider .navigation ul li .li__hoverLine {
	margin-top:1px;
}
#content #slider .navigation ul li {
    margin: 8px 0px 0 27px;
}
.grid li {
    width: 280px;
}
.grid figcaption h3 {
    margin-top: -19px;
	font-size:18px;
}
.cs-style figure a {
    bottom: 7px;
    font-size: 15px;
    right: 93px;
}
#portfolio .portfolio-item .portfolio-link {
    max-width: 300px;
}
.view, .view .mask, .view .content {
    height: 175px;
    width: 175px;
}
.view p {
    font-size: 13px;
	padding:10px;
}
.view h5 {
    margin-top: 9px;
}
.blog-content {
    margin: 0 0px 35px 183px;
}
section.our-blog p.p1 {
    font-size: 13px;
}
section.our-blog a h4 {
    padding: 11px 0;
}
section.our-blog p.p2 {
    font-size: 13px;
	padding-bottom:5px;
}
}

@media (max-width: 375px){
section.our-blog a h4 {
font-size:17px;	
}
}	

@media (max-width: 320px){
#content #slider .navigation ul {
    margin: 0px auto 60px;
}
#content #slider .navigation ul li {
    margin: 8px 0px 0 40px;
	float:none;
}
.grid li {
    width: 260px;
}
.cs-style figure a {
    bottom: 6px;
    font-size: 14px;
    right: 85px;
}
.view, .view .mask, .view .content {
    height: 250px;
    width: 250px;
}
.view {
	margin-left:10px;
}
.blog-content {
    margin:255px 0px 60px 0px;
    padding: 0 10px;
}
section.our-blog p.p1 {
    font-size: 15px;
}
section.our-blog a h4 {
    font-size: 20px;
	padding:15px 0;
}
section.our-blog p.p2 {
    font-size: 15px;
    padding-bottom: 10px;
}
.view h5 {
    margin-top: 30px;
	font-size:20px;
	padding: 10px;
}
.view p {
    font-size: 15px;
    padding: 20px;
}
.view a.info {
    font-size: 16px;
    padding: 7px 20px;
}
section.contact-form p.text-center {
    font-size: 16px;
}
.btn-social {
width:40px;
height:40px;
line-height:36px;
font-size:17px;	
}
.portfolio-modal .modal-content h3 {
    font-size: 2em;
}
section {
    padding: 40px 0;
}
section.about-us h3 {
	font-size:2.5em;
	padding-bottom:30px;
}
section.about-us p {
    font-size: 15px;
}
h3.section-heading {
    font-size: 26px;
}
p.lead {
    font-size: 15px;
}
section.our-services h3.text-center {
	font-size:2.5em;
	padding-bottom:10px;
}
section#portfolio h3.text-center, section.our-blog h3.text-center, section.contact-us h3.text-center, section.contact-form h3.text-center  {
	font-size:2.5em;
	padding-bottom:40px;
}
.portfolio-modal .close-modal .lr , .portfolio-modal .close-modal .lr .rl {
	height:60px;
}
/*.col-md-8.col-xs-12.slideanim.slide {
    text-align: center;
}
section.contact-us .col-md-8.slideanim.slide iframe	{
	width:95%;
}
}*/
